
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a routerLink="/docente">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    ADMIN
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a routerLink="/admin/evaluacion">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Evauaciones
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a routerLink="/admin/comision">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Comision
                </span>
            </a>

        </li>
        
    </ul>

    <ul class="logout">
        <li>
            <a  (click)="salir()">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>

<div class="contenidor">
    <router-outlet></router-outlet>
</div>