<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="file-upload">
                <div class="file-select">
                  <div class="file-select-button" id="fileName">Choose File</div>
                  <div class="file-select-name" id="noFile"></div> 
                  <input type="file" name="chooseFile" id="chooseFile" (change)="uploadFile($event)">
                </div>
              </div>
              
            
        </div>


        <div class="col-12 mt-5">
            <table cellspacing="0" cellpadding="0" id="mi-tabla" class="tabla">
                <thead>
                  <tr>
                    <th>Lista de Documentos</th>
                  
                    <th> </th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of items">
                  <tr *ngIf="item.docente == user">
                    <td class="align-left">{{item.name}}</td>
    
                    
                    <td><i class="fa fa-eye float-right manito mr-4"  aria-hidden="true" (click)="ver(item.name)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></td>
                    <td><i class="fa fa-trash float-right text-danger manito"  aria-hidden="true" (click)="eliminar(item.id)">borrar</i></td>
                  </tr>
                 
    
                </tbody>
              </table>
        </div>
        
    </div>
</div>







  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header ">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

                        <a href="{{profileUrl | async}}"> {{profileUrl | async}}</a>

           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>