
.copyright {
    display:block;
    margin-top: 100px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .copyright a{
    text-decoration: none;
    color: #EE4E44;
  }
  
  
  /****** CODE ******/
  
  .file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
  .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
  .file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
  .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
  .file-upload .file-select.file-select-disabled{opacity:0.65;}
  .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
  .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
  .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}



  .manito{cursor: pointer;}
  
.tabla {
    margin: 0 auto;
  }
  .tabla thead {
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
  }
  .tabla thead tr th { 
    font-weight: bold;
    padding: 10px 20px;
  }
  .tabla thead tr th span { 
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 55%;
  }
  .tabla thead tr th.headerSortUp,
  .tabla thead tr th.headerSortDown {
    background: rgba(0, 0, 0, .2);
  }
  .tabla thead tr th.headerSortUp span {
    background-image: url('http://tablesorter.com/themes/blue/asc.gif');
  }
  .tabla thead tr th.headerSortDown span {
    background-image: url('http://tablesorter.com/themes/blue/desc.gif');
  }
  .tabla tbody tr td {
    text-align: center;
    padding: 10px 20px;
  }
  .tabla tbody tr td.align-left {
    text-align: left;
  }
  




  pdf-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
  }